{% extends "libr/layout.html" %}
{% load static %}
{% block title %}
<head>
<link rel="stylesheet" href="{% static 'libr/styles.css' %}">
<h1>Agregando Libro</h1>
</head>


{% endblock %}


{% block body %}
        <div id="confirmar-libro">
                <form action="{% url 'agregar_manualmente' %}" method="POST" id="formBD">
                {% csrf_token %}
                <em>Título: </em><input type="text" name="titulo"><br><br>
                <em>Autor: </em><input type="text" name="autor"><br><br>
                <em>Año de publicación: </em><input type="text" name="año"><br><br>
                <em>ISBN: </em><input type="text"  name="isbn"><br><br>
                <em>Enlace: </em><input type="text" name="link"><br><br>
                <em>Cantidad en stock: </em><input type="number" name="cantidad"><br><br>
		<em>Estantería: </em><input type="number" name="estanteria"><br><br>
		<em>Estante: </em><input type="number" name="estante"><br><br>
                <button type="submit" class="btn-primary">Guardar en el inventario</button>
                </form>
        </div>



{% endblock %}
