{% extends 'libr/add_books.html' %}
{% load static %}
{% block title %}<h1 class="titulo">Prestamos</h1>{% endblock %}


{% block body %}
{% if mensaje %}
        <div class="mensaje">{{ mensaje }}<a href="{% url 'agregar_manualmente' %}"> Agregar Manualmente?</a></div>
{% endif %}

<div class="forms">
{% if es_profe %}
	<h1>Maestro identificado</h1>
	<form action="{% url 'prestamo_maestro' libro.isbn profe.codigo_barras %}" name="form" method="POST" class="form-prestamo">
	{% csrf_token %}
	<div class="campo">
		<input type="text" name="codigo_libro" class="inputFields" id="libro" value="{{libro.isbn}}"/>
		<label for="libro">Escanee el código del libro</label>
	</div>
	<div class="campo">	
	<input type="text" class="inputFields" name="codigo_usuario" id="usuario" value="{{profe.codigo_barras}}"/>
	<label for="usuario">Escanee el código del usuario</label>
	</div>
	<div class="campo">
	<input class="btn-primary" type="submit" value="Asignar" name="submit" class="inputFields"/>
	<input type="number" name="cantidad" id="cantidad" class="inputFields"/>
        <label for="cantidad">Cantidad</label>
	</div>
	</form>

{% else %}
	<form action="{% url 'prestar_view' %}" name="form" method="POST" class="form-prestamo">
	{% csrf_token %}
	<div class="campo">
		<input type="text" name="codigo_libro" id="libro" class="inputFields"/>
		<label for="libro">Escanee el código del libro</label>
	</div>
	<div class="campo">
		<input type="text" name="codigo_usuario" id="usuario" class="inputFields"/>
		<label for="usuario">Escanee el código del usuario</label>
	</div>
	<input class="btn-primary" type="submit" value="Asignar" name="submit"/>
	</form>
{% endif %}
</div>


{% endblock %}
